*{
	margin: 0px auto;
	font-family: "Arial"; 
}

#header{
	text-align: center; 
	margin: 10px;
}

#registration, #login{
	padding: 10px;
	border: 1px solid black;
	width: 300px;
	text-align: center; 
	margin: 0px auto;
}

#regtitle, #logintitle{
	margin: 0px auto;
	text-align: center; 
	padding-top: 20px;
	padding-bottom: 10px; 
	text-decoration: underline;
}

#firstname, #lastname, #reg_email, #password{
	margin: 10px;

}

.friend{
	padding: 20px;
	font-size: 20px
}
#friendstitle{
	padding: 20px;
}
#listheader{
	padding: 20px;
}
table{
	border: 1px solid black;
	margin: 10px;
}
td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center; 
	border: 1px solid black;
}
th{
	border: 1px solid black;
}

